body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px #ccc; 
}

input {
  padding: 0.5em;
  width: 70%;
  margin-right: 1em;
}

button {
  padding: 0.5em 1em;
}

ul {
  padding-left: 1em;
  list-style: '';
}
/* 
li .todoItem {
  display: 'flex';
  align-items: 'center';
  margin-bottom: 10;
} */
